.starting {
  margin: 3rem auto;
  text-align: center;
  font-family: "metal-mania";
}

.starting h1 {
  font-size: 2rem;
  font-family: "metal-mania";
  color: rgb(63, 60, 60);
}
.starting p {
  font-size: 1.2rem;
}
.starting button{
  color:rgb(63, 60, 60);
  background-color: rgb(235, 214, 217);
  padding:0.55rem;
  border-radius: 25px;
  border-color: #777;
  font-family: "metal-mania";
  font-weight: bold;
  
}