.form {
  width: 95%;
  max-width: 25rem;
  margin: 2rem auto;
}

.control {
  margin-bottom: 0.5rem;
  font-family: 'metal-mania';
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  
  display: flex;
}

.control input {
  display: flex;
  font: inherit;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #777;
  padding: 0.25rem;
 
}

.action {
  margin-top: 1.5rem;
  
  
}

.action button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: rgb(85, 83, 83);
  color: white;
  border: 1px solid rgb(85, 83, 83);
  margin-right: 19px;
  
}

.action button:hover {
  background-color:rgb(57, 53, 53);
  border-color:rgb(57, 53, 53);
}